@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;500;700&display=swap");

body {
  box-sizing: border-box;
  background-color: #f3f4f8;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* CSS for Header */

#root {
  background-color: #feffff;
}

.head {
  display: flex;
  padding: 24px 4%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid#0000ff;
  box-shadow: 5px 30px;
}

.head-nav {
  display: flex;
  align-items: center;
}

.head-ul {
  display: flex;
  gap: 26px;
}

.head-li {
  list-style: none;
}

.title {
  margin: 0;
  font-size: 1.875rem;
  font-weight: 700;
  color: #0290ff;
}

.head-a {
  text-decoration: none;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  text-transform: uppercase;
  color: black;
}

.light-a {
  color: #12121250;
}

.nav-a {
  text-decoration: none;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
}

.user-icon {
  color: #0290ff;
}

/* Books section CSS */

.app-container {
  background-color: #fafafa;
  padding: 4%;
}

.books-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e8e8e8;
  padding: 4%;
  background-color: white;
  margin-bottom: 2.5rem;
}

.book-buttons-container {
  align-items: center;
  margin-top: 1.313rem;
}

.percent {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.completed {
  margin-left: 18px;
}

.chapter {
  margin-top: 0.438rem;
  margin-bottom: 20px;
  font-size: 1rem;
  letter-spacing: -0.4px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}

.book-category {
  margin: 0;
  font-size: 0.875rem;
  color: #888;
}

.book-name {
  margin: 0.188rem 0;
  font-size: 1.375rem;
  letter-spacing: -0.2px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

.book-author {
  color: #4386bf;
  font-size: 0.875rem;
  font-weight: 300;
  margin: 0;
  font-family: "Roboto Slab", serif;
}

.book-button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.book-button:nth-child(2) {
  margin: 0 0.5rem;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border-left: 2px solid #e8e8e8;
  border-right: 2px solid #e8e8e8;
}

.progress-container {
  display: flex;
}

.update-progress-button {
  cursor: pointer;
  border: none;
  background-color: #0290ff;
  border-radius: 3px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
  text-transform: uppercase;
  width: 220px;
  height: 45px;
}

.chapter-container {
  flex-direction: column;
}

.divider {
  width: 0.125rem;
  height: 4.375rem;
  margin: 0 3.688rem 0 4.938rem;
  background-color: #e8e8e8;
}

.circular-progress-bar {
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  border: 5px solid #307bbe;
  border-left-color: #e8e8e8;
  transform: rotate(45deg);
}

.current-chapter {
  color: #12121250;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.875rem;
}

.book-info {
  min-width: 250px;
}

/* form section CSS */

.add-book-title {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.18px;
  color: #888;
  margin: 0;
}

.form-container {
  padding-top: 1.813rem;
  border-top: 0.125rem solid #e8e8e8;
}

.form-container form {
  display: flex;
  margin-top: 20px;
  grid-gap: 32px;
  gap: 32px;
}

.form-container input {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  color: #212529;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 25%;
}

.form-container button {
  cursor: pointer;
  width: 25%;
  padding: 12px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 0.813rem;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
}
